
.svg svg {
    fill: #555555;
    width: 50px;
    height: 50px;
}

.svg svg:hover {
    transition: 0.4s;
    fill: #ff651c;
}

.wrapper {
    display: flex;
    justify-content: space-between;
}

.img {
    border-radius: 5px;
    box-shadow: 0px 0px 17px 6px #000000;
    margin-top: 50px;
}

.text {
    color: #555555;
    font-size: 18px;
}

.inner {
    max-width: 550px;
    width: 100%;
    text-align: center;
}

.job {
    color: #ff651c;
    font-size: 25px;
    font-weight: 900;
    text-transform: uppercase;
    margin-bottom: 30px;
    display: block;
}

.text_home {
    margin-bottom: 50px;
}

.list_icon {
    display: flex;
    justify-content: space-between;
    padding: 3px 0;
    max-width: 300px;
    width: 100%;
    margin: 0 auto;
}

.btn_link + .btn_link {
    margin-left: 15px;
}


@media screen and (max-width: 650px) {
    .wrapper {
        display: block;
    }

    .img {
        margin-top: 0px;
    }
    .block_img {
        text-align: center;
        margin-bottom: 20px;
    }
}

@media screen and (max-width: 400px) {
.btn_link {
    display: block;
    margin-bottom: 20px;
}
    .btn_link + .btn_link {
        margin-left: 0;
    }
}