.wrapper {
    position: relative;
    z-index: 5;
    top: 70px;
    border: 1px solid #ff651c;
    box-shadow: 0px 0px 12px 2px #ff651c;
    max-width: 900px;
    width: 100%;
    margin: 0 auto 150px auto;
    background-color: #212121;
    border-radius: 20px;
    padding: 50px 30px;
}

.title {
    color: #fff;
    font-size: 50px;
    position: relative;
    margin-bottom: 25px;
}

.title:after {
    content: '';
    position: absolute;
    width: 100px;
    height: 5px;
    background-color: #ff651c;
    bottom: -12px;
    left: 30%;
    transform: translate(-50%, -50%);
}
.title:before {
    content: '';
    position: absolute;
    width: 7px;
    height: 5px;
    bottom: -12px;
    left: 32%;
    transform: translateY(-50%);
    background-color: #212121;
    z-index: 9;
}

.button {
    padding: 10px;
    border: 2px solid transparent;
    cursor: pointer;
    background-color: #ff651c;
    border-radius: 5px;
    max-width: 150px;
    width: 100%;
    color: #fff;
    transition: all 0.3s;
    font-size: 15px;
}

.button:hover {
    background-color: transparent;
    border: 2px solid #ff651c;
    transform: rotate(15deg);
}

.icon svg {
    width: 30px;
    height: 30px;
}

.icon svg path:hover {
    fill: #ff651c;
}

@media screen and (max-width: 1100px) {
    .wrapper {
       top: 135px;
    }
}

@media screen and (max-width: 650px) {
    .wrapper {
        padding: 40px 20px;
    }
}

@media screen and (max-width: 400px) {
    .wrapper {
        padding: 40px 5px;
    }

}