.inner {
    width: 80px;
    padding: 50px 0;
    position: fixed;
    top: 70px;
    right: 0;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    text-align: center;
    background-color: #212121;
    z-index: 99;
}

.item + .item {
    margin-top: 20px;
}

.active-link {
    border: 1px solid red !important;
    color: red !important;
}

.item {
    position: relative;
}

.text_hover {
    position: absolute;
    top: 7px;
    left: -80px;
    display: none;
    width: 70px;
    background-color: #ff651c;
    font-size: 14px;
    color: #fff;
    font-weight: 600;
    padding: 9px 2px;
    border-radius: 5px;
}

.text_hover:after {
    content: '';
    position: absolute;
    top: 50%;
    right: -9px;
    transform: translateY(-50%);
    display: inline-block;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 10px 0 10px 10px;
    border-color: transparent transparent transparent #ff651c;
}
.item:hover .text_hover{
    display: block;
}

.map_wrapper {
    width: 500px;
}


@media screen and (max-width: 1100px) {
    .text_hover:after {
        content: none;
    }

    .item:hover .text_hover{
        display: none;
    }
    .list {
        display: flex;
        justify-content: space-between;
    }
    .inner {
        max-width: 650px;
        width: 100%;
        padding: 20px 10px;
        top: 0;
        right: 50%;
        transform: translateX(50%);
        border-top-left-radius: 0;
        border-bottom-right-radius: 20px;
        border: 1px solid #ff651c;
    }
    .item + .item {
        margin-top: 0px;
    }
}



